# SF Salaries Exercise

ใน exercise นี้เราจะได้ฝึกทักษะการใช้ pandas library

dataset ที่เราจะใช้มาจาก website ที่ชื่อว่า Kaggle ซึ่งเป็นแหล่งรวม dataset ที่หลากหลาย

สำหรับ exercise นี้เราจะใช้ [SF Salaries Dataset](https://www.kaggle.com/datasets/kaggle/sf-salaries)

1. import pandas library

In [1]:
import pandas as pd

2. ทำการอ่าน Salaries.csv ให้อยู่ในรูป DataFrame ในตัวแปรที่ชื่อ sal

In [2]:
sal = pd.read_csv('https://raw.githubusercontent.com/noswolf/Python-Training/main/Data%20Analysis/Data/Salaries.csv')

3. แสดงผล 8 บรรทัดแรกของ DataFrame

In [3]:
pd.read_csv('https://raw.githubusercontent.com/noswolf/Python-Training/main/Data%20Analysis/Data/Salaries.csv', nrows=8)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN

4. แสดง Data Type ของแต่ละ column

In [9]:
sal.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay         float64
OtherPay            float64
Benefits            float64
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status              float64
dtype: object

5. จงหาค่าเฉลี่ยของ BasePay

In [5]:
sal['BasePay'].mean()

66325.4488404877

6. จงหาค่าสูงสุดของ OvertimePay

In [7]:
sal['OvertimePay'].max()

245131.88

7. จงหาคำตอบว่า job title ของพนักงานที่ชื่อว่า JOSEPH DRISCOLL คืออะไร

In [12]:
sal.loc[sal['EmployeeName'] =='JOSEPH DRISCOLL', 'JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

8. JOSEPH DERISCOLL มีรายได้เท่าไร โดยรวมเข้ากับ Benefits ที่ได้รับ

In [55]:
sal.loc[sal['EmployeeName'] =='JOSEPH DRISCOLL', 'TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

9. ใครที่มีรายได้สูงที่สุด โดยรวมเข้ากับ Benefits ที่ได้รับ

In [58]:
sal_max =  sal['TotalPayBenefits'].max()
sal.loc[sal['TotalPayBenefits'] == sal_max,'EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

10. ใครที่มีรายได้ตํ่าที่สุด โดยรวมเข้ากับ Benefits ที่ได้รับ

In [59]:
sal_min =  sal['TotalPayBenefits'].min()
sal.loc[sal['TotalPayBenefits'] == sal_min,'EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

11. จงหาว่าในแต่ละปี มีจำนวนข้อมูลกี่แถว

In [76]:
sal.groupby('Year').size()
# sal['Year'].value_counts()

Year
2011    36159
2012    36766
2013    37606
2014    38123
dtype: int64

12. มีจำนวนกี่คนที่มีตำแหน่ง Clerk

In [87]:
(sal['JobTitle'] == 'Clerk').value_counts()
# sal[sal['JobTitle'] == 'Clerk'].shape[0]

764

13. จงหารายได้เฉลี่ยของ BasePay ของพนักงานทุกคน โดยจำแนกรายปี

In [90]:
sal.groupby(['EmployeeName','Year'])['BasePay'].mean()
# sal.groupby('Year')['BasePay'].mean()

EmployeeName           Year
A BERNARD FATOOH       2011    19969.37
A Bernard  Fatooh      2013    23908.50
A Bernard Fatooh       2012    18472.35
                       2014    24061.35
A ELIZABETH MARCHASIN  2011    23591.80
                                 ...
Zuna T Luu             2013    55026.00
                       2014    54703.00
Zuri  Jones            2013    71986.90
Zuri Jones             2012    86588.52
                       2014    66667.54
Name: BasePay, Length: 141061, dtype: float64

14. มี Job title ที่แตกต่างกันทั้งหมดเป็นจำนวนเท่าไร

In [46]:
sal['JobTitle'].nunique()

2159

15. จงแสดงอาชีพที่นิยมมากที่สุด 10 อันดับแรก

In [92]:
sal.groupby('JobTitle').size().nlargest(n=10)
# sal['JobTitle'].value_counts().head(10)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Custodian                       2418
TRANSIT OPERATOR                2388
Firefighter                     2359
Recreation Leader               1971
Patient Care Assistant          1945
Name: JobTitle, dtype: int64

16. จงแสดงอาชีพที่นิยมน้อยที่สุด 10 อันดับ

In [95]:
sal.groupby('JobTitle').size().nsmallest(n=10)
# sal['JobTitle'].value_counts().tail(10)

JobTitle
ACPO,JuvP, Juv Prob (SFERS)                           1
ACUPUNCTURIST                                         1
ADMINISTRATOR, SFGH MEDICAL CENTER                    1
AIRPORT ASSISTANT DEPUTY DIRECTOR, BUSINESS ADMINI    1
AIRPORT ASSISTANT DEPUTY DIRECTOR, OPERATIONS         1
AIRPORT MECHANICAL MAINTENANCE SUPERVISOR             1
ANIMAL CARE ASSISTANT SUPERVISOR                      1
ANIMAL CARE SUPERVISOR                                1
AREA SUPERVISOR, PARKS, SQUARES AND FACILITIES        1
ASPHALT PLANT SUPERVISOR I                            1
dtype: int64

17. [ยาก] ในปี 2013 จงหาผลรวมของ job title ที่มีแค่ 1 คน

In [101]:
sal_job = sal.groupby('JobTitle','Year'== '2013').size() == 1
sal_job.value_counts()

# sal2013 = sal[sal['Year'] == 2013]
# sum(sal2013['JobTitle'].value_counts() == 1)

False    1920
True      239
dtype: int64